<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Cafeteria">
    <meta name="keywords" content="Cafeteria">
    <meta name="author" content="Dllacy Lima">
    <title>Obrigado</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />
  </head>
<body>
  <main>
    <h1>OBRIGADO PELO PEDIDO</h1>
    <h3 id="countdown" class="blink">EM 10 SEGUNDOS VOLTAREMOS A PAGINA ANTERIOR</h3>
  </main>
  <script src="../view/js/countdown.js"></script>
</body>
</html>